@model IServiceManager;

@{
    var language = ViewBag.Language;

    #region mainTitle by language
    var mainTitleData = new
    {
        TR = "YENİ MAKİNE OLUŞTUR",
        EN = "CREATE NEW MACHINE"
    };

    var mainTitle = language switch
    {
        "TR" => mainTitleData.TR,
        "EN" => mainTitleData.EN,
    };
    #endregion

    #region inputLabels by language
    var inputLabelsData = new
    {
        TR = new 
        {
            MainCategory = "Ana Kategori",
            SubCategory = "Alt Kategori",
            Brand = "Marka",
            Model = "Model",
            Year = "Yılı",
            HandStatus = new
            {
                Label = "El Durumu",
                RadioButton1 = "Sıfır",
                RadioButton2 = "İkinci El"
            },
            Stock = "Stok Adedi"    
        },
        EN = new 
        {
            MainCategory = "Maincategory",
            SubCategory = "Subcategory",
            Brand = "Brand",
            Model = "Model",
            Year = "Year",
            HandStatus = new
            {
                Label = "Hand Status",
                RadioButton1 = "Zero",
                RadioButton2 = "Second Hand"
            },
            Stock = "Stock" 
        }
    };

    var inputLabels = language switch
    {
        "TR" => inputLabelsData.TR,
        "EN" => inputLabelsData.EN,
    };
    #endregion

    #region button names by language
    var updateButtonName = language switch
    {
        "TR" => "KAYDET",
        "EN" => "SAVE"
    };

    var descriptionButtonName = language switch
    {
        "TR" => "Açıklama",
        "EN" => "Description"
    };
    #endregion
}

<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                @*table main title*@
                <header class="panel-heading">
                    @mainTitle
                </header>
                @*/table main title*@
                <div class="panel-body">
                    <form>
                        <div class="form-horizontal bucket-form">
                            <!-- MainCategory -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.MainCategory
                                </label>
                                <div class="col-sm-6">
                                    <select id="slct_mainCategory" class="form-control m-bot15">
                                        @{
                                            #region get mainCategoryNames by language
                                            var mainCategoryNames = await Model.MachineService
                                                .GetMainCategoryNamesByLanguageAsync(language);
                                            #endregion

                                            #region add mainCategoryNames
                                            foreach(var mainCategoryName in mainCategoryNames)
                                            {
                                                <option>@mainCategoryName</option>
                                            }
                                            #endregion
                                        }                                        
                                    </select>
                                </div>
                            </div>
                            <!-- /MainCategory -->
                            <!-- SubCategory -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.SubCategory
                                </label>
                                <div class="col-sm-6">
                                    <select id="slct_subCategory" class="form-control m-bot15">
                                        @{
                                            #region get subCategoryNames
                                            var machineParameters = new MachineParametersForDisplaySubCategoryNames
                                            {
                                                Language = language,
                                                MainCategoryName = language == "TR"?
                                                    "İş Makineleri"
                                                    : "Work Machines"
                                            };

                                            var subCategoryNames = await Model.MachineService
                                                .GetSubCategoryNamesOfMainCategoryByLanguageAsync(
                                                    machineParameters);
                                            #endregion

                                            #region add subCategoryNames as <option>
                                            foreach(var subCategoryName in subCategoryNames)
                                            {
                                                <option>@subCategoryName</option>    
                                            }
                                            #endregion
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- /SubCategory -->
                            <!-- Model -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.Model
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_model" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /Model -->
                            <!-- BrandName -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.Brand
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_brand" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /BrandName -->
                            <!-- Stock -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.Stock
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_stock" type="number" class="form-control" value="1" required>
                                </div>
                            </div>
                            <!-- /Stock -->
                             <!-- Year -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.Year
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_year" type="number" class="form-control" value="2023" required>
                                </div>
                            </div>
                            <!-- /Year --> 
                            <!-- HandStatus -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    @inputLabels.HandStatus.Label
                                </label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label style="margin-right:10px">
                                            <input type="radio" name="usageStatus" value=0 checked="">
                                             @inputLabels.HandStatus.RadioButton1
                                        </label>
                                        <label>
                                            <input type="radio" name="usageStatus" value=2>
                                            @inputLabels.HandStatus.RadioButton2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /HandStatus-->
                            @*Description*@
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    <div class="input-group m-bot15">
                                        <div class="input-group-btn">
                                            <button id="btn_description" style="background-color:darkblue;" tabindex="-1" class="btn btn-info" type="button">
                                                @descriptionButtonName (@language)
                                            </button>
                                            <button tabindex="-1" style="background-color: darkblue;" data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="ul_description"  role="menu" class="dropdown-menu pull-right">
                                                @{
                                                    #region populate languages
                                                    var languagesInDb = await Model.MachineService
                                                        .GetAllLanguagesAsync();

                                                    foreach(var languageInDb in languagesInDb){
                                                        <li>
                                                            <a href="#">@languageInDb</a>
                                                       </li>
                                                    }
                                                    #endregion
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </label>
                                <div class="col-sm-6">
                                    <textarea id="inpt_description" style="resize:none" type="text" class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            @*/Description*@
                            <!-- ImagePath -->
                            @*<div class="form-group">
                                <label class="col-sm-3 control-label">Rol</label>
                                <div class="col-sm-6">
                                    <select id="slct_role" class="form-control m-bot15">
                                        <option>User</option>
                                        <option>Editor</option>
                                        <option>Admin</option>
                                    </select>
                                </div>
                            </div>   *@
                            <!-- /ImagePath -->
                            <!-- registration button -->
                            <div class="form-group">
                                <div class="col-sm-6; text-center">
                                    <button id="btn_register" style="background-color:darkblue" type="submit" class="btn btn-danger">
                                        @updateButtonName
                                    </button>
                                </div>
                                <div style="text-align:center">
                                    <p id="p_resultLabel"></p>
                                </div>
                            </div>
                            <!-- /registration button-->
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module"  src="~/js/machineForCreate.js"></script>

<script> 
    let language = "@language";
    let descriptionButtonName = "@descriptionButtonName";
</script>