@model IServiceManager;

@{
    var language = ViewBag.Language;

    #region set table title by languages
    var TableTitleByLanguages = new
    {
        TR = "KAYITLI MAKİNELER",
        EN = "REGISTERED MACHINES"
    };

    var TableTitle = language switch
    {
        "TR" => TableTitleByLanguages.TR,
        "EN" => TableTitleByLanguages.EN
    };
    #endregion

    #region set menubar options by languages
    var menubarOptionsByLanguages = new
    {
        TR = new string[]
        {
            "Seçilenleri Sil"
        },
        EN = new string[]
        {
            "Delete Selected"
        }
    };

    var menubarOptions = language switch
    {
        "TR" => menubarOptionsByLanguages.TR,
        "EN" => menubarOptionsByLanguages.EN
    };
    #endregion

    #region set column names by languages
    var columnNamesByLanguages = new
    {
        TR = new string[]
        {
            "Ana Kategori",
            "Alt Kategori",
            "Marka",
            "Model",
            "El Durumu",
            "Stok",
            "Kiralık",
            "Satılık",
            "Yıl",
            "Açıklama",
            "Kayıt Tarihi",
            "İşlemler"
        },
        EN = new string[]
        {
            "Main Category",
            "Sub Category",
            "Brand",
            "Model",
            "Hand Status",
            "Stock",
            "Rented",
            "Sold",
            "Year",
            "Description",
            "Registration Date",
            "Processes"
        }
    };

    var columnNames = language switch
    {
        "TR" => columnNamesByLanguages.TR,
        "EN" => columnNamesByLanguages.EN
    };
    #endregion

    #region set entity count message by languages
    var entityCountMessageByLanguages = new
    {
        TR = "makine gösteriliyor",
        EN = "machine displaying"
    };

    var entityCountMessage = language switch
    {
        "TR" => entityCountMessageByLanguages.TR,
        "EN" => entityCountMessageByLanguages.EN
    };
    #endregion

    #region set button names by languages
    
    #region set button of menubar options
    var menubarOptionsButtonByLanguages = new
    {
        TR = "Uygula",
        EN = "Apply"
    };

    var menubarOptionsButton = language switch
    {
        "TR" => menubarOptionsButtonByLanguages.TR,
        "EN" => menubarOptionsButtonByLanguages.EN
    };
    #endregion

    #region set update button
    var updateButtonNameByLanguages = new
    {
        TR = "Güncelle",
        EN = "Update",
    };

    var updateButtonName = language switch
    {
        "TR" => updateButtonNameByLanguages.TR,
        "EN" => updateButtonNameByLanguages.EN,
    };
    #endregion

    #endregion
}


<div class="table-agile-info">
    <div class="panel panel-default">
        @*table title*@
        <div class="panel-heading">
            @TableTitle
        </div>
        @*/table title*@

        @*menubar*@
        <div class="row w3-res-tb">
            @*menubar options*@
            <div class="col-sm-5 m-b-xs">
				<select id="slct_menubar" class="input-sm form-control w-sm inline v-middle">
                    @{
                        #region add <options> to menubar
                        for(var index=0; index < menubarOptions.Length; index++)
                        {
                            <option value=index>
                                @menubarOptions[index]
                            </option>    
                        }
                        #endregion
                    }
				</select>
				<button id="btn_apply" class="btn btn-sm btn-default">
                    @menubarOptionsButton
                </button>                
            </div>
            <div class="col-sm-4">
            @*/menubar options*@
            </div>
			@*search bar*@
			@*<div class="col-sm-3">
				<div class="input-group">
					<input type="text" class="input-sm form-control" placeholder="Ara">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button">
							Ara
						</button>
					</span>
				</div>
			</div>*@
			@*/search bar*@
		</div>
		@*/menubar*@

        @*/data*@
        <div class="table-responsive">
            <table id="tbl_machine" class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-rowNone">
								<input id="box_all" type="checkbox"><i></i>
                            </label>
                        </th>
                        @{  
                            #region add column names
                            foreach(var columnName in columnNames)
                            {
                                <td><b>@columnName</b></td>    
                            }
                            #endregion
                        }
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @*/data*@

        @*/navigation*@
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <small id="lbl_entityQuantity" class="text-muted inline m-t-sm m-b-s">
						<b>0</b> @entityCountMessage
					</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">                
                    <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                    </ul>
                </div>
            </div>
        </footer>
        @*/navigation*@
    </div>
</div>

<script type="module" src="~/js/machineForDisplay.js"></script>

<script>
	var language = "@ViewBag.Language";
    var entityCountMessage = "@entityCountMessage";
    var updateButtonName = "@updateButtonName";
</script>
