@model IServiceManager;

@{
    #region get languages
    var language = ViewBag.Language;
    var allLanguagesInDb = await Model.MachineService.GetAllLanguagesAsync();
    #endregion

    #region set element names by languages

    #region set table title
    var TableTitle = language switch
    {
        "TR" => "KAYITLI MAKİNELER",
        "EN" => "REGISTERED MACHINES"
    };
    #endregion

    #region set menubar options
    var menubarOptions = language switch
    {
        "TR" => new string[]
        {
            "Seçilenleri Sil"
        },
        "EN" => new string[]
        {
            "Delete Selected"
        }
    };
    #endregion

    #region set column ids and names
    var columnIdsAndNamesDict = language switch
    {
        "TR" => new Dictionary<string, string>
        {
            { "th_mainCategoryName", "Ana Kategori" },
            { "th_subCategoryName", "Alt Kategori" },
            { "th_model", "Model" },
            { "th_brandName", "Marka" },
            { "th_handStatus", "El Durumu" },
            { "th_stock", "Stok" },
            { "th_rented", "Kiralık" },
            { "th_sold", "Satılık" },
            { "th_year", "Yıl" },
            { "th_descriptions", "Açıklama" },
            { "th_createdAt", "Kayıt Tarihi" },
            { "th_processes", "İşlemler" },
        },
        "EN" => new Dictionary<string, string>
        {
            { "th_mainCategory", "Main Category" },
            { "th_subCategory", "Sub Category" },
            { "th_model", "Model" },
            { "th_brandName", "Brand" },
            { "th_handStatus", "Hand Status" },
            { "th_stock", "Stock" },
            { "th_rented", "Rented" },
            { "th_sold", "Sold" },
            { "th_year", "Year" },
            { "th_descriptions", "Description" },
            { "th_createdAt", "Registration Date" },
            { "th_processes", "Processes" }
        },
    };
    #endregion

    #region set entity count message
    var entityQuantityMessage = language switch
    {
        "TR" => "makine gösteriliyor",
        "EN" => "machine displaying"
    };
    #endregion

    #region set button names

    #region set menubar options button name
    var menubarOptionsButton = language switch
    {
        "TR" => "Uygula",
        "EN" => "Apply"
    };
    #endregion

    #region set update button name
    var updateButtonName = language switch
    {
        "TR" => "Güncelle",
        "EN" => "Update",
    };
    #endregion

    #region set base description button name
    var baseDescriptionButtonName = language switch
    {
        "TR" => "Açıklama",
        "EN" => "Description"
    };
    #endregion

    #endregion    

    #endregion
}

<div class="table-agile-info">
    <div class="panel panel-default">
        @*table title*@
        <div class="panel-heading">
            @TableTitle
        </div>
        @*/table title*@

        @*menubar*@
        <div class="row w3-res-tb">
            @*menubar options*@
            <div class="col-sm-5 m-b-xs">
				<select id="slct_menubar" class="input-sm form-control w-sm inline v-middle">
                    @{
                        #region add <options> to menubar
                        for(var index=0; index < menubarOptions.Length; index++)
                        {
                            <option value=@index>
                                @menubarOptions[index]
                            </option>    
                        }
                        #endregion
                    }
				</select>
				<button id="btn_apply" class="btn btn-sm btn-default">
                    @menubarOptionsButton
                </button>                
            </div>
            <div class="col-sm-4">
            @*/menubar options*@
            </div>
			@*search bar*@
			@*<div class="col-sm-3">
				<div class="input-group">
					<input type="text" class="input-sm form-control" placeholder="Ara">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button">
							Ara
						</button>
					</span>
				</div>
			</div>*@
			@*/search bar*@
		</div>
		@*/menubar*@

        @*/data*@
        <div class="table-responsive">
            <table id="tbl_machine" class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-rowNone">
								<input id="box_all" type="checkbox"><i></i>
                            </label>
                        </th>
                        @{
                            #region add column names
                            foreach(var columnId in columnIdsAndNamesDict.Keys)
                            {
                                <th id="@columnId">
                                    <b>@columnIdsAndNamesDict[columnId]</b>
                                </th> 
                            }
                            #endregion
                        }
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @*/data*@

        @*/navigation*@
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-left">
                    <small id="lbl_entityQuantity" class="text-muted inline m-t-sm m-b-s">
						<b>0</b> @entityQuantityMessage
					</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">                
                    <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                    </ul>
                </div>
            </div>
        </footer>
        @*/navigation*@
    </div>
</div>

<script type="module" src="~/js/machineForDisplay.js"></script>
<script>
    language = "@language";
    let updateButtonName = "@updateButtonName";
    let entityQuantity_message = "@entityQuantityMessage"

    let description_baseButtonName = @Html.Raw(Json
        .Serialize(baseDescriptionButtonName));

    let allLanguagesInDb = @Html.Raw(Json
        .Serialize(allLanguagesInDb));
</script>
