@model IServiceManager;

@{
    var language = ViewBag.Language;

    #region set variables by languages

    #region set form title
    var formTitle = language switch
    {
        "TR" => "YENİ KULLANICI OLUŞTUR",
        "EN" => "CREATE NEW USER"
    };
    #endregion

    #region set label ids and names
    var labelIdsAndNames = language switch
    {
        "TR" => new Dictionary<string, string[]>{
            { "inpt_firstName", new string[] {"Ad","text", null} },
            { "inpt_lastName", new string[] {"Soyad","text", null} },
            { "inpt_telNo", new string[] {"Telefon","phone", "* Başında sıfır olmadan 10 haneli olarak giriniz."} },
            { "inpt_email", new string[] {"Email","email", null} },
            { "inpt_companyName", new string[] {"Şirket","text", null} },
            { "inpt_roles", new string[] {"Rol",null, null} },
            { "inpt_password", new string[] {"Şifre","text" , "* 6 ile 16 karakter arasında giriniz."} }
        },
        "EN" => new Dictionary<string, string[]>{
            { "inpt_firstName", new string[] {"Firstname","text", null} },
            { "inpt_lastName", new string[] {"Lastname","text", null} },
            { "inpt_telNo", new string[] {"Phone","phone", "* enter as 10 digits without zero at head"} },
            { "inpt_email", new string[] {"Email","email", null} },
            { "inpt_companyName", new string[] {"Company","text", null} },
            { "inpt_roles", new string[] {"Role",null, null} },
            { "inpt_password", new string[] {"Password","text", "* enter between 6 and 16 char"} }
        },
    };
    #endregion

    #region set save button name
    var saveButtonName = language switch
    {
        "TR" => "Kaydet",
        "EN" => "Save"
    };
    #endregion

    #region set success message
    var successMessage = language switch
    {
        "TR" => "kullanıcı başarıyla kaydedildi",
        "EN" => "user saved with successsfull"
    };
    #endregion

    #endregion

    
    #region get all roles by language
    var rolesByLanguage = await Model.UserService
        .GetAllRolesByLanguageAsync(language);
    #endregion
}

<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header class="panel-heading">
                    @formTitle
                </header>
                <div class="panel-body">
                    <form>
                        <div class="form-horizontal bucket-form">
                            @{
                                #region add labels and label inputs or selects
                                foreach(var columnId in labelIdsAndNames.Keys)
                                {
                                    #region set variables
                                    var labelName = labelIdsAndNames[columnId][0];
                                    var inputType = labelIdsAndNames[columnId][1];
                                    var labelMessage = labelIdsAndNames[columnId][2];
                                    #endregion

                                    #region add labels and inputs without role
                                    if(columnId != "inpt_roles"){
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                @labelName
                                            </label>
                                            <div class="col-sm-6">
                                                <input id="@columnId" type="@inputType" class="form-control" required>
                                                <span class="help-block">@labelMessage</span>
                                            </div>
                                        </div>
                                    }
                                    #endregion

                                    #region add role label and select
                                    else
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rol</label>
                                            <div class="col-sm-6">
                                                <select id="slct_role" class="form-control m-bot15">
                                                    @{
                                                        #region add roles to role <select>
                                                        foreach(var roleByLanguage in rolesByLanguage)
                                                        {
                                                            <option>@roleByLanguage</option>    
                                                        }
                                                        #endregion
                                                    }
                                                </select>
                                            </div>
                                        </div>  
                                    }
                                    #endregion
                                }
                                #endregion
                            }

                             <!-- register button -->
                            <div class="form-group">
                                <div class="col-sm-6; text-center">
                                    <button id="btn_register" type="submit" class="btn btn-danger" style="background-color: darkblue">
                                        @saveButtonName
                                    </button>
                                </div>
                                <div style="text-align:center">
                                    <p id="p_resultLabel"></p>
                                </div>
                            </div>
                            <!-- /register button-->
                        
                            @*<!-- firstName -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    labelIdsAndNames.
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_firstName" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /firstName -->
                            <!-- lastName -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Soyad
                                </label>
                                <div class="col-sm-6">
                                    <input id="inpt_lastName" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /lastName -->
                            <!-- telNo -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Telefon Numarası</label>
                                <div class="col-sm-6">
                                    <input id="inpt_telNo" type="text" class="form-control" required>
                                    <span class="help-block">* Başında sıfır olmadan 10 haneli giriniz.</span>
                                </div>
                            </div>
                            <!-- /telNo -->
                            <!-- email -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input id="inpt_email" type="email" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /email -->
                            <!-- Company Name -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Şirket Adı</label>
                                <div class="col-sm-6">
                                    <input id="inpt_companyName" type="text" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- /Company Name -->
                            <!-- Role -->
                            < 
                            <!-- /Role -->
                            <!-- Password -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Şifre</label>
                                <div class="col-sm-6">
                                    <input id="inpt_password" type="text" class="form-control" required>
                                    <span class="help-block">* 6 ile 16 karakter arasında giriniz.</span>
                                </div>
                            </div>*@
                            <!-- /Password -->
                        </div>
                        </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module" src="~/js/userForCreate.js"></script>

<script>
    let language = "@language";
    let rolesByLanguage = @Json.Serialize(rolesByLanguage)
    let resultLabel_successMessage = "@successMessage";
</script>