@model IServiceManager;

@{
    #region set variables by languages

    #region set table title
    var tableTitleByLanguages =  new Dictionary<string, string> 
    {
        { "TR", "YENİ KULLANICI OLUŞTUR" },
        { "EN", "CREATE NEW USER" }
    };
    #endregion

    #region set label ids and names
    var labelNamesAndFeaturesByLanguages = new Dictionary<string, Dictionary<string, Dictionary<string, string>>>
    {
        {"TR", new Dictionary<string, Dictionary<string, string>>{
            #region firstName
            { "firstName", new Dictionary<string, string> {
                {"Label", "Ad"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region lastName
            { "lastName", new Dictionary<string, string> {
                {"Label", "Soyad"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region telNo
            { "telNo", new Dictionary<string, string> {
                {"Label", "Telefon"},
                {"Type", "phone"},
                {"HelpMessage", "* Başında sıfır olmadan 10 haneli olarak giriniz."}
            }},
            #endregion
            #region email
            { "email", new Dictionary<string, string> {
                {"Label", "Email"},
                {"Type", "email"},
                {"HelpMessage", null}
            }},
            #endregion
            #region companyName
            { "companyName", new Dictionary<string, string> {
                {"Label", "Şirket"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region roles
            { "roles", new Dictionary<string, string> {
                {"Label", "Rol"},
                {"Type", null},
                {"HelpMessage", null}
            }},
            #endregion
            #region password
            { "password", new Dictionary<string, string> {
                {"Label", "Şifre"},
                {"Type", "text"},
                {"HelpMessage", "* 6 ile 16 karakter arasında giriniz."}
            }}
            #endregion
        }},
        {"EN", new Dictionary<string, Dictionary<string, string>>{
            #region firstName
            { "firstName", new Dictionary<string, string> {
                {"Label", "Firstname"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region lastName
            { "lastName", new Dictionary<string, string> {
                {"Label", "Lastname"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region telNo
            { "telNo", new Dictionary<string, string> {
                {"Label", "Phone"},
                {"Type", "phone"},
                {"HelpMessage", "* enter as 10 digits without zero at head"}
            }},
            #endregion
            #region email
            { "email", new Dictionary<string, string> {
                {"Label", "Email"},
                {"Type", "email"},
                {"HelpMessage", null}
            }},
            #endregion
            #region companyName
            { "companyName", new Dictionary<string, string> {
                {"Label", "Company"},
                {"Type", "text"},
                {"HelpMessage", null}
            }},
            #endregion
            #region roles
            { "roles", new Dictionary<string, string> {
                {"Label", "Role"},
                {"Type", null},
                {"HelpMessage", null}
            }},
            #endregion
            #region password
            { "password", new Dictionary<string, string> {
                {"Label", "Password"},
                {"Type", "text"},
                {"HelpMessage", "* enter between 6 and 16 char"}
            }}
            #endregion
        }}
    };
    #endregion

    #region set save button name
    var saveButtonNameByLanguages = new Dictionary<string, string>
    {
        { "TR", "Kaydet" },
        { "EN", "Save" }
    };
    #endregion

    #region set success message
    var successMessageByLanguages = new Dictionary<string, string>
    {
        { "TR", "kullanıcı başarıyla kaydedildi" },
        { "EN", "user saved with successsfull" }
    };
    #endregion

    #endregion
}

<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">    
            <section class="panel">
                <header id="header_tableTitle" class="panel-heading">
                </header>
                <div class="panel-body">
                    <form>
                        <div class="form-horizontal bucket-form">
                            @{
                                /*
                                #region add labels and <input>'s or <select>'s
                                foreach(var columnId in labelIdsAndNames.Keys)
                                {
                                    #region set variables
                                    var labelName = labelIdsAndNames[columnId][0];
                                    var inputType = labelIdsAndNames[columnId][1];
                                    var labelMessage = labelIdsAndNames[columnId][2];
                                    #endregion

                                    #region add labels and inputs without role
                                    if(columnId != "inpt_roles"){
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                @labelName
                                            </label>
                                            <div class="col-sm-6">
                                                <input id="@columnId" type="@inputType" class="form-control" required>
                                                <span class="help-block">@labelMessage</span>
                                            </div>
                                        </div>
                                    }
                                    #endregion

                                    #region add role label and select
                                    else
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Rol
                                            </label>
                                            <div class="col-sm-6">
                                                <select id="slct_role" class="form-control m-bot15">
                                                    @{
                                                        #region add roles to role <select>
                                                        foreach(var roleByLanguage in rolesByLanguage)
                                                        {
                                                            <option>@roleByLanguage</option>    
                                                        }
                                                        #endregion
                                                    }
                                                </select>
                                            </div>
                                        </div>  
                                    }
                                    #endregion
                                }
                                #endregion
                                */
                            }

                             <!-- register button -->
                            <div class="form-group">
                                <div class="col-sm-6; text-center">
                                    <button id="btn_register" type="submit" class="btn btn-danger" style="background-color: darkblue">
                                        @*@saveButtonName*@
                                    </button>
                                </div>
                                <div style="text-align:center">
                                    <p id="p_resultLabel"></p>
                                </div>
                            </div>
                            <!-- /register button-->
                        </div>
                        </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="module" src="~/js/userForCreate.js"></script>

<script>
    language = localStorage.getItem("language");
    const tableTitle = (@Json.Serialize(tableTitleByLanguages))[language];
    const saveButtonName = (@Json.Serialize(saveButtonNameByLanguages))[language]
    const labelNamesAndFeatures = (@Json.Serialize(labelNamesAndFeaturesByLanguages))[language]
    const resultLabel_successMessage = (@Json.Serialize(successMessageByLanguages))[language];
</script>