@{
	var language = ViewBag.Language;

	#region gel all languages in db
	var allLanguagesInDb = await Model.MachineService
		.GetAllLanguagesAsync();
	#endregion

	#region placeHolder of search bar by languages
	var searchBarPlaceHolderByLanguages = new Dictionary<string, string>
	{
		{"TR", " Ara"},
		{"EN", " Search"},
	};
	#endregion

	#region user settings menu by languages
	var userSettingsMenuByLanguages = new Dictionary<string, Dictionary<string, Dictionary<string, string>>>
	{
		{"TR", new Dictionary<string, Dictionary<string, string>>
		{
			#region profile
			{"#a_profile", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-user"},
				{ "Label", " Profil"}
			}},
			#endregion
			#region settings
			{"#a_settings", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-user"},
				{ "Label", " Ayarlar"}
			}},
			#endregion
			#region logout
			{"#a_logout", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-user"},
				{ "Label", " Çıkıp Yap"}
			}}
			#endregion
		}},
		{"TR", new Dictionary<string, Dictionary<string, string>>
		{
			#region profile
			{"#a_profile", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-user"},
				{ "Label", " Profile"}
			}},
			#endregion
			#region settings
			{"#a_settings", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-cog"},
				{ "Label", " Settings"}
			}},
			#endregion
			#region logout
			{"#a_logout", new Dictionary<string, string>
			{
				{ "Icon", "fa fa-close"},
				{ "Label", " Logout"}
			}}
			#endregion
		}},
	};
	#endregion

	#region sidebar menu by languages

	#region menus with drop down
	var sidebarMenusWithDropDownByLanguages = new Dictionary<string, Dictionary<string, Dictionary<string, Dictionary<string, string>>>>
	{
		{"TR", new Dictionary<string, Dictionary<string, Dictionary<string, string>>>
		{
			#region users
			{"Users", new Dictionary<string, Dictionary<string, string>>
			{
				{"Users", new Dictionary<string, string>
				{
					{"Label", "Kullanıcılar"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_newUser", new Dictionary<string, string>
				{
					{"Label", "Yeni Kullanıcı"},
					{"Href", "user/create"},
				}},
				{"a_sidebarMenu_registeredUsers", new Dictionary<string, string>
				{
					{"Label", "Kayıtlı Kullanıcılar"},
					{"Href", "user/display"},
				}},
			}},
			#endregion
			#region machines
			{"Machines", new Dictionary<string, Dictionary<string, string>>
			{
				{"Machines", new Dictionary<string, string>
				{
					{"Label", "Makineler"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_newMachine", new Dictionary<string, string>
				{
					{"Label", "Yeni Makine"},
					{"Href", "machine/create"},
				}},
				{"a_sidebarMenu_registeredMachine", new Dictionary<string, string>
				{
					{"Label", "Kayıtlı Makineler"},
					{"Href", "machine/display"},
				}},
			}},
			#endregion
			#region forms
			{"Forms", new Dictionary<string, Dictionary<string, string>>
			{
				{"Forms", new Dictionary<string, string>
				{
					{"Label", "Formlar"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_buyingDemandForm", new Dictionary<string, string>
				{
					{"Label", "Satın Alma Talep Formu"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_rentingDemandForm", new Dictionary<string, string>
				{
					{"Label", "Kiralama Talep Formu"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_secondHandDemandForm", new Dictionary<string, string>
				{
					{"Label", "İkinci El Talep Formu"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_informationDemandForm", new Dictionary<string, string>
				{
					{"Label", "Bilgi Talep Formu"},
					{"Href", "#"},
				}},
			}},
			#endregion
		}},
		{"EN", new Dictionary<string, Dictionary<string, Dictionary<string, string>>>
		{
			#region users
			{"Users", new Dictionary<string, Dictionary<string, string>>
			{
				{"Users", new Dictionary<string, string>
				{
					{"Label", "Users"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_newUser", new Dictionary<string, string>
				{
					{"Label", "New User"},
					{"Href", "user/create"},
				}},
				{"a_sidebarMenu_registeredUsers", new Dictionary<string, string>
				{
					{"Label", "Registered Users"},
					{"Href", "user/display"},
				}},
			}},
			#endregion
			#region machines
			{"Machines", new Dictionary<string, Dictionary<string, string>>
			{
				{"Machines", new Dictionary<string, string>
				{
					{"Label", "Machines"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_newMachine", new Dictionary<string, string>
				{
					{"Label", "New Machine"},
					{"Href", "machine/create"},
				}},
				{"a_sidebarMenu_registeredMachine", new Dictionary<string, string>
				{
					{"Label", "Registered Machines"},
					{"Href", "machine/display"},
				}},
			}},
			#endregion
			#region forms
			{"Forms", new Dictionary<string, Dictionary<string, string>>
			{
				{"Forms", new Dictionary<string, string>
				{
					{"Label", "Forms"},
					{"Href", "javascript:;"},
				}},
				{"a_sidebarMenu_buyingDemandForm", new Dictionary<string, string>
				{
					{"Label", "Buying Demand Form"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_rentingDemandForm", new Dictionary<string, string>
				{
					{"Label", "Renting Demand Form"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_secondHandDemandForm", new Dictionary<string, string>
				{
					{"Label", "Secondhand Demand Form"},
					{"Href", "#"},
				}},
				{"a_sidebarMenu_informationDemandForm", new Dictionary<string, string>
				{
					{"Label", "Information Demand Form"},
					{"Href", "#"},
				}},
			}},
			#endregion
		}},
	};
	#endregion

	#region menus without dropdown
	var sidebarMenusWithoutDropDownByLanguages = new Dictionary<string, Dictionary<string, Dictionary<string, string>>>
	{
		{"TR", new Dictionary<string, Dictionary<string, string>>
		{
			#region homepage
			{"a_sidebarMenu_homePage", new Dictionary<string, string>
			{
				{"Icon", "fa fa-dashboard"},
				{"Label", "Ana Sayfa"},
				{"Href", "#"}
			}},
			#endregion
			#region settings
			{"a_sidebarMenu_settings", new Dictionary<string, string>
			{
				{"Icon", "fa fa-cog"},
				{"Label", "Ayarlar"},
				{"Label", "#"}
			}},
			#endregion
		}},
		{"EN", new Dictionary<string, Dictionary<string, string>>
		{
			#region homepage
			{"a_sidebarMenu_homepage", new Dictionary<string, string>
			{
				{"Icon", "fa fa-dashboard"},
				{"Label", "Homepage"},
				{"Label", "#"}
			}},
			#endregion
			#region settings
			{"a_sidebarMenu_settings", new Dictionary<string, string>
			{
				{"Icon", "fa fa-cog"},
				{"Label", "Settings"},
				{"Label", "#"}
			}},
			#endregion
		}},
	};
	#endregion

	#endregion

	#region footer informations by languages
	var footerInfosByLanguages = new Dictionary<string, string>
	{
		{"TR", "© 2023 Tüm hakları saklıdır. | Designed by "},
		{"EN", "© 2023 All rights reserved. | Designed by "}
	};
	#endregion
}

<!DOCTYPE html>
<html>
	<head>
		<title>Komatsu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Komatsu Admin Panel"/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!-- bootstrap-css -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<!-- font CSS -->
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- font-awesome icons -->
		<link href="~/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<script src="~/js/jquery2.0.3.min.js"></script>
		<script type="module" src="~/js/miarTools.js"></script>
		<script type="module" src="~/js/_layout.js"></script>
	</head>
	<body>
		<section id="container">
			<!-- header start -->
			<header class="header fixed-top clearfix">
				<!-- logo -->
				<div class="brand">
					<a href="index.html" class="logo">
						KOMATSU
					</a>
					<div class="sidebar-toggle-box">
						<div class="fa fa-bars"></div>
					</div>
				</div>
				<!-- /logo -->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search bar start -->
						<li>
							<input id="inpt_searchBar" type="text" class="form-control search" />
						</li>
						<!-- search bar end -->
						<!-- language dropdown -->
						<li class="dropdown">
							<!-- flag picture and language -->
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img id="img_selectedFlag">
								<span id="spn_selectedLanguage" class="username"></span>
								<b class="caret"></b>
							</a>
							<!-- //flag picture and language -->
							<!-- language dropdown -->
							<ul id="ul_language" class="dropdown-menu extended logout">
							@{
								#region add languages to dropdown
								var flagPath = "";
									
								foreach(var languageInDb in allLanguagesInDb)
								{
									flagPath = $"{languageInDb}.png";

									<li>
										<a href="#">
											<img alt="@languageInDb" src="~/images/@flagPath" />
											<b>@languageInDb</b>
										</a>
									</li>
								}
								#endregion
								}
							</ul>
							<!-- //language dropdown -->
						</li>
						<!-- language dropdown -->
						<!-- user settings dropdown start -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">
									@ViewBag.FirstName.ToUpper() @ViewBag.LastName.ToUpper()
								</span>
								<b class="caret"></b>
							</a>
							<ul id="ul_userSettingsMenu" class="dropdown-menu extended logout">
							</ul>
						</li>
						<!-- user settings dropdown start -->
					</ul>
				</div>
			</header>
			<!--header end-->

			<!--sidebar menu start-->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<!-- sidebar menu start-->
					<div class="leftside-navigation">
						<ul id="nav-accordion" class="sidebar-menu">
							@*homepage*@
							<li>
								<a id="a_sideBar_homepage" href="#" class="active">
									<i class="fa fa-dashboard"></i>
									<span></span>
								</a>
							</li>
							@*/homepage*@
							@*users*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span></span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Users.SubMenus.NewUser.Href">
											@sidebarMenu.Users.SubMenus.NewUser.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Users.SubMenus.RegisteredUsers.Href">
											@sidebarMenu.Users.SubMenus.RegisteredUsers.Label
										</a>
									</li>
								</ul>
							</li>
							@*/users*@
							@*machines*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>
										@sidebarMenu.Machines.Label
									</span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Machines.SubMenus.NewMachine.Href">
											@sidebarMenu.Machines.SubMenus.NewMachine.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Machines.SubMenus.RegisteredMachine.Href">
											@sidebarMenu.Machines.SubMenus.RegisteredMachine.Label
										</a>
									</li>
								</ul>
							</li>
							@*/machines*@
							@*forms*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>
										@sidebarMenu.Forms.Label
									</span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.BuyingDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.BuyingDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.RentingDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.RentingDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.SecondHandDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.SecondHandDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.InformationDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.InformationDemandForm.Label
										</a>
									</li>
								</ul>
							</li>
							@*/forms*@
							@*settings*@
							<li>
								<a href="@sidebarMenu.Settings.Href">
									<i class="fa fa-cog"></i>
									<span>
										@sidebarMenu.Settings.Label
									</span>
								</a>
							</li>
							@*/settings*@
						</ul>            
					</div>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--sidebar menu end-->

			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">
					@RenderBody()
				</section>

				<!-- footer -->
				<div class="footer">
					<div class="wthree-copyright">
						<p>
							@footerInfos
							<a href="https://mostidea.com.tr">MostIdea</a>
						</p>
					</div>
				</div>
				<!-- / footer -->
			</section>
			<!--main content end-->
		</section>

		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="~/js/jquery.scrollTo.js"></script>

		<script>
			const searchBarPlaceHolder = "@searchBarPlaceHolderByLanguages[language]";
			const userSettingsMenu = @Json.Serialize(userSettingsMenuByLanguages[language]);
			const sideBarMenus_sorting = ["Homepage", "Users", "Machines", "Forms", "Settings"]
			const sidebarMenus_withDropDown = @Json.Serialize(sidebarMenusWithDropDownByLanguages[language]);
			const sidebarMenus_withoutDropDown = @Json.Serialize(sidebarMenusWithoutDropDownByLanguages[language]);
			const footerInfos = "@footerInfosByLanguages[language])";
			const allLanguageInDb = @Json.Serialize(allLanguagesInDb);
			const baseApiUrl = "https://localhost:7091/api/services";
			const jwtToken = "Bearer " + localStorage.getItem("token");
			let language = localStorage.getItem("language");
		</script>
	</body>
</html>