@{
	var language = ViewBag.Language;

	#region gel all languages in db
	var allLanguagesInDb = await Model.MachineService
		.GetAllLanguagesAsync();
	#endregion

	#region placeHolder of search by languages
	var searchPlaceHolderByLanguages = new
	{
		TR = " Ara",
		EN = " Search"
	};

	var searchPlaceHolder = language switch
	{
		"TR" => searchPlaceHolderByLanguages.TR,
		"EN" => searchPlaceHolderByLanguages.EN
	};
	#endregion

	#region user dropdown menu by languages
	var userDropDownMenu = language switch
	{
		"TR" => new
		{
			Profile = "Profil",
			Settings = "Ayarlar",
			Logout = "Çıkıp Yap"
		},
		"EN" => new
		{
			Profile = "Profile",
			Settings = "Settings",
			Logout = "Logout"
		}
	};
	#endregion

	#region sidebar menu by languages
	var sidebarMenu = language switch
	{
		"TR" => new
		{
			#region homepage
			Homepage = new
			{
				Label = "Ana Sayfa",
				Href = "#"
			},
			#endregion
			#region users
			Users = new
			{
				Label = "Kullanıcılar",
				SubMenus = new
				{
					NewUser = new
					{
						Label = "Yeni Kullanıcı",
						Href = "/user/create"
					},
					RegisteredUsers = new
					{
						Label = "Kayıtlı Kullanıcılar",
						Href = "/user/display"
					}
				}
			},
			#endregion
			#region machines
			Machines = new
			{
				Label = "Makineler",
				SubMenus = new
				{
					NewMachine = new
					{
						Label = "Yeni Makine",
						Href = $"/machine/create"
					},
					RegisteredMachine = new
					{
						Label = "Kayıtlı Makineler",
						Href = $"/machine/display"
					}
				}
			},
			#endregion
			#region forms
			Forms = new
			{
				Label = "Formlar",
				SubMenus = new
				{
					BuyingDemandForm = new
					{
						Label = "Satın Alma Talep Formu",
						Href = "#"
					},
					RentingDemandForm = new
					{
						Label = "Kiralama Talep Formu",
						Href = "#"
					},
					SecondHandDemandForm = new
					{
						Label = "İkinci el Talep Formu",
						Href = "#"
					},
					InformationDemandForm = new
					{
						Label = "Bilgi Talep Formu",
						Href = "#"
					}
				}
			},
			#endregion
			#region settings
			Settings = new
			{
				Label = "Ayarlar",
				Href = "#"
			}
			#endregion
		},
		"EN" => new
		{
			#region homepage
			Homepage = new
			{
				Label = "Homepage",
				Href = "#"
			},
			#endregion
			#region users
			Users = new
			{
				Label = "Users",
				SubMenus = new
				{
					NewUser = new
					{
						Label = "New User",
						Href = $"/user/create"
					},
					RegisteredUsers = new
					{
						Label = "Registered Users",
						Href = $"/user/display"
					}
				}
			},
			#endregion
			#region machines
			Machines = new
			{
				Label = "Machines",
				SubMenus = new
				{
					NewMachine = new
					{
						Label = "New Machine",
						Href = $"/machine/create"
					},
					RegisteredMachine = new
					{
						Label = "Registered Machines",
						Href = $"/machine/display"
					}
				}
			},
			#endregion
			#region forms
			Forms = new
			{
				Label = "Forms",
				SubMenus = new
				{
					BuyingDemandForm = new
					{
						Label = "Buying Demand Form",
						Href = "#"
					},
					RentingDemandForm = new
					{
						Label = "Renting Demand Form",
						Href = "#"
					},
					SecondHandDemandForm = new
					{
						Label = "Second Hand Demand Form",
						Href = "#"
					},
					InformationDemandForm = new
					{
						Label = "Information Demand Form",
						Href = "#"
					}
				}
			},
			#endregion
			#region settings
			Settings = new
			{
				Label = "Settings",
				Href = "#"
			}
			#endregion
		},
	};
	#endregion

	#region footer informations by languages
	var footerInfosByLanguages = new
	{
		TR = "© 2023 Tüm hakları saklıdır. | Designed by ",
		EN = "© 2023 All rights reserved. | Designed by "
	};

	var footerInfos = language switch
	{
		"TR" => footerInfosByLanguages.TR,
		"EN" => footerInfosByLanguages.EN
	};
	#endregion
}

<!DOCTYPE html>
<html>
	<head>
		<title>Komatsu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Komatsu Admin Panel"/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!-- bootstrap-css -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="~/css/style.css" rel='stylesheet' type='text/css' />
		<link href="~/css/style-responsive.css" rel="stylesheet"/>
		<!-- font CSS -->
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- font-awesome icons -->
		<link href="~/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<script src="~/js/jquery2.0.3.min.js"></script>
		<script type="module" src="~/js/miarTools.js"></script>
		<script type="module" src="~/js/_layout.js"></script>
	</head>
	<body>
		<section id="container">
			<!-- header start -->
			<header class="header fixed-top clearfix">
				<!-- logo -->
				<div class="brand">
					<a href="index.html" class="logo">
						KOMATSU
					</a>
					<div class="sidebar-toggle-box">
						<div class="fa fa-bars"></div>
					</div>
				</div>
				<!-- /logo -->
				<!-- user settings -->
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search start -->
						<li>
							<input type="text" class="form-control search" 
								placeholder= @searchPlaceHolder>
						</li>
						<!-- search end -->
						<!-- language dropdown -->
						<li class="dropdown">
							@{
								var flagPath = $"{language}.png";
							}
							<!-- flag picture and language -->
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="@language" src="~/images/@flagPath"/>
								<span class="username">
									@language
								</span>
								<b class="caret"></b>
							</a>
							<!-- //flag picture and language -->
							<!-- language dropdown -->
							<ul id="ul_language" class="dropdown-menu extended logout">
								@{
									#region add languages to dropdown
									foreach(var languageInDb in allLanguagesInDb)
									{
										flagPath = $"{languageInDb}.png";

										<li>
											<a href="?Language=@languageInDb">
												<img alt="@languageInDb" src="~/images/@flagPath"></img>
												<b>@languageInDb</b>
											</a>
										</li>
									}
									#endregion
								}
							</ul>
							<!-- //language dropdown -->
						</li>
						<!-- language dropdown -->
						<!-- user settings dropdown start -->
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img alt="" src="~/images/user.png">
								<span class="username">
									@ViewBag.FirstName.ToUpper() @ViewBag.LastName.ToUpper()
								</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li>
									<a  href="#">
										<i class="fa fa-user"></i>
										@userDropDownMenu.Profile
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-cog"></i>
										@userDropDownMenu.Settings
									</a>
								</li>
								<li>
									<a id="a_logout" href="#">
										<i class="fa fa-close"></i>
										@userDropDownMenu.Logout
									</a>
								</li>
							</ul>
						</li>
						<!-- user settings dropdown start -->
					</ul>
				</div>
				<!-- //user settings -->
			</header>
			<!--header end-->

			<!--sidebar start-->
			<aside>
				<div id="sidebar" class="nav-collapse">
					<!-- sidebar menu start-->
					<div class="leftside-navigation">
						<ul id="nav-accordion" class="sidebar-menu">
							@*homepage*@
							<li>
								<a href="@sidebarMenu.Homepage.Href" class="active">
									<i class="fa fa-dashboard"></i>
									<span>
										@sidebarMenu.Homepage.Label
									</span>
								</a>
							</li>
							@*/homepage*@
							@*users*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>
										@sidebarMenu.Users.Label
									</span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Users.SubMenus.NewUser.Href">
											@sidebarMenu.Users.SubMenus.NewUser.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Users.SubMenus.RegisteredUsers.Href">
											@sidebarMenu.Users.SubMenus.RegisteredUsers.Label
										</a>
									</li>
								</ul>
							</li>
							@*/users*@
							@*machines*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>
										@sidebarMenu.Machines.Label
									</span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Machines.SubMenus.NewMachine.Href">
											@sidebarMenu.Machines.SubMenus.NewMachine.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Machines.SubMenus.RegisteredMachine.Href">
											@sidebarMenu.Machines.SubMenus.RegisteredMachine.Label
										</a>
									</li>
								</ul>
							</li>
							@*/machines*@
							@*forms*@
							<li class="sub-menu">
								<a href="javascript:;">
									<i class="fa fa-book"></i>
									<span>
										@sidebarMenu.Forms.Label
									</span>
								</a>
								<ul class="sub">
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.BuyingDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.BuyingDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.RentingDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.RentingDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.SecondHandDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.SecondHandDemandForm.Label
										</a>
									</li>
									<li>
										<a href="@sidebarMenu.Forms.SubMenus.InformationDemandForm.Href">
											@sidebarMenu.Forms.SubMenus.InformationDemandForm.Label
										</a>
									</li>
								</ul>
							</li>
							@*/forms*@
							@*settings*@
							<li>
								<a href="@sidebarMenu.Settings.Href">
									<i class="fa fa-cog"></i>
									<span>
										@sidebarMenu.Settings.Label
									</span>
								</a>
							</li>
							@*/settings*@
						</ul>            
					</div>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--sidebar end-->

			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">
					@RenderBody()
				</section>

				<!-- footer -->
				<div class="footer">
					<div class="wthree-copyright">
						<p>
							@footerInfos
							<a href="https://mostidea.com.tr">MostIdea</a>
						</p>
					</div>
				</div>
				<!-- / footer -->
			</section>
			<!--main content end-->
		</section>

		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="~/js/jquery.scrollTo.js"></script>

		<script>
			let language = "@language";
			let baseApiUrl = "https://localhost:7091/api/services";
			let jwtToken = "Bearer " + localStorage.getItem("token");
		</script>
	</body>
</html>